:root {
  --font-mono: 'Raleway', ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color: 34, 40, 49;
    --font-color: 255, 255, 255;
    --primary-color: #222831;
    --secondary-color: #393e46;
    --accent-color: #98BBF6;
    --bs-border-width: 3px;
  }

  .btn-primary {
    --bs-btn-bg: var(--accent-color);
    --bs-btn-color: #222831;
    --bs-btn-border-color: var(--accent-color);
    --bs-btn-hover-color: #222831;
    --bs-btn-hover-bg: var(--accent-color);
    --bs-btn-hover-border-color: var(--accent-color);
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #222831;
    --bs-btn-active-bg: var(--accent-color);
    --bs-btn-active-border-color: var(--accent-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--accent-color);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--accent-color);
    --bs-gradient: none;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  max-width: 1100px;
  margin: 0 auto;
  color: rgb(var(--foreground-rgb));
  font-family: Raleway;
  background: rgb(var(--background-color));
}

body {
  padding-top: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}