.cardWrapper {
  padding: 10px;
}

.card {
  background-color: var(--primary-color);
  color: var(--font-color);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.title {
  position: relative;
  top: 0;
  left: 0;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 40px 90px 40px 15px;
}

.imageWrapper {
  position: absolute;
  width: 114px;
  height: 170px;
  bottom: 0;
  right: 0;
  overflow: hidden;
  border-radius: 0px 10px 10px 0px;
}

.secondaryTitle {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 15px;
}

.accentBacground {
  color: var(--accent-font-color);
  background-color: var(--accent-background-color);
}

.paragraph {
  font-weight: 400;
  margin: 15px;
  text-align: justify;
}

.h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  margin-left: 15px;
}

.listH3 {
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0 15px 15px;
}

.additionalInfo {
  font-size: 14px;
  font-weight: 200;
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
}

.p {
  margin: 0;
}

.list {
  list-style: none;
  margin-left: 15px;
  padding: 0;
}

.list li {
  margin-top: 10px;
}

.list li:first-child {
  margin-top: 0;
}

.list li a {
  margin-left: 10px;
}

.list li span {
  margin-left: 10px;
}

.infoChunk {
  margin-top: 20px;
}

.button {
  border-radius: 10px;
  padding: 12px 32px;
  text-align: center;
  margin: 12px;
}